.header {
    font-size: 18px;
    text-align: center;
    padding: 10px 0px;
    width: 1290px;
}
.conteiner {
    background-color: #56836F;
    margin: 0px 40px;
    margin-bottom: 30px;
    border: 4px;
    border-style: solid;
    box-sizing: border-box;
    border-color: #006837;
    padding-left: 70px;
    padding-right: 55px;
    width: 1290px;
    height: 1400px;
}
.HeadDiv {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    word-spacing: 25px;
}
.HDRbelow {
    display: inline-block;
    color: #FFFFFF;
    font-size: 48px;
    display: inline-block;
    padding-top: 55px;
    padding-left: 115px;
    padding-right: 65px;
    width: 775px;
}
.IconImg {
    width: 200px;
    height: 150px;
    float: right;
    padding-top: 55px;
    padding-bottom: 65px;
}
.artc-section {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 55% 45%;
    grid-template-rows: 355px 355px 355px;
}
.artcleIMG {
    width: 150px;
    height: 120px;
}
.article1 {
    display: inline-block;
    background-color: #FCEE21;
    vertical-align: top;
    /* width: 90%;
    height: 90%; */
    padding: 20px 20px;
    padding-bottom: 10px;
}
.article1 .artcleIMG {
    float: right;
    clear: both;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.article1 p {
    font-size: 14px;
    text-align: left;
}
.article2 {
    display: inline-block;
    background-color: #FCEE21;
    vertical-align: top;
    clear: both;
    /* width: 93%;
    height: 90%; */
    padding: 20px 20px;
    padding-left: 40px;
    border-right: 60px;
}
.article2 .artcleIMG {
    float: left;
    padding-right: 20px;
    padding-bottom: 40px;
}
.article2 p {
    font-size: 14px;
    text-align: left;
}
.article3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    background-color: #FCEE21;
    vertical-align: top;
    /* width: 90%;
    height: 90%; */
    padding: 20px 20px;
    /* padding-bottom: 0px; */
    /* margin-top: 25px; */
}
.article3 .artcleIMG {
    /* float: right; */
    padding-right: 20px;
    padding-left: 20px;
}
.article4 {
    display: inline-block;
    background-color: #FCEE21;
    vertical-align: top;
    padding: 20px 20px;
    padding-bottom: 0px;
    padding-left: 40px;
    /* margin-top: 25px; */
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
}
.article4 .artcleIMG {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}