.header {
    font-size: 18px;
    text-align: center;
    padding: 10px 0px;
}
.conteiner {
    background-color: #56836F;
    margin: 0px 40px;
    margin-bottom: 30px;
    border: 4px;
    box-sizing: border-box;
    border-color: #006837;
    padding-left: 70px;
    padding-right: 55px;
}
.HeadDiv {
    display: inline-block;
}
.HDRbelow {
    color: #FFFFFF;
    font-size: 48px;
    display: inline-block;
    padding-top: 25px;
    padding-left: 175px;
    padding-right: 65px;
}
.IconImg {
    display: inline-block;
    width: 200px;
    height: 150px;
    float: right;
    padding-top: 25px;
    padding-right: 55px;
    padding-bottom: 65px;
}
.artc-section {
    width: 1400px;
}
.artcleIMG {
    width: 150px;
    height: 120px;
}
.article1 {
    display: inline-block;
    background-color: #FCEE21;
    vertical-align: top;
    width: 610px;
    height: 355;
    padding: 20px 20px;
}
.article1 .artcleIMG {
    float: right;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.p1text {
    font-size: 14px;
    text-align: left;

}
.article2 {
    display: inline-block;
    background-color: #FCEE21;
    vertical-align: top;
    width: 520px;
    height: 355;
    padding: 20px 20px;
}
.article2 .artcleIMG {
    float: left;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 40px;
}
.article3 {
    background-color: #FCEE21;
    vertical-align: top;
    width: 610px;
    height: 355;
    padding: 20px 20px;
}
.article3 .artcleIMG {
    object-fit: cover;
    padding-right: 20px;
    padding-left: 20px;
}
.p3text {
    display: flex;
}
