.header {
    font-size: 18px;
    text-align: center;
    padding: 10px 0px;
}
.conteiner {
    background-color: #56836F;
    margin: 0px 40px;
    margin-bottom: 30px;
    border: 4px;
    box-sizing: border-box;
    border-color: #006837;
    padding-left: 70px;
    padding-right: 55px;
}
.HeadDiv {
    display: inline-block;
}
.HDRbelow {
    color: #FFFFFF;
    font-size: 48px;
    display: inline-block;
    padding-top: 25px;
    padding-left: 175px;
    padding-right: 65px;
}
.IconImg {
    display: inline-block;
    width: 200px;
    height: 150px;
    float: right;
    padding-top: 25px;
    padding-right: 55px;
}
